@import url("./styles/product.css");
@import url("./styles/cart.css");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "green Hat Text", sans-serif;
  background-color: #f7f5ee;
}

.marketplace-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
}

.marketplace-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .marketplace-layout {
    grid-template-columns: 1fr;
  }
}
